@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Orbitron:wght@400;500;600;700;800;900&display=swap");

body {
    .add-form {
        margin: 1rem;
        padding: 1rem;
        border-radius: 1rem;
        box-shadow: 0 0 0.5rem var(--shadow);
        display: flex;
        flex-direction: column;
        gap: 1rem;
        text-align: center;
        align-items: center;

        p {
            margin: 0;
        }

        input,
        textarea, select {
            font-family: Kanit, 'Montserrat', sans-serif, 'Courier New', Courier, monospace;
            border: 1px solid var(--shadow);
            border-radius: 0.5rem;
            padding: 0.5rem;
            transition: all ease 0.5s;
            width: 20rem;

            &[type="submit"] {
                width: min-content;
                background-color: var(--select);
                color: var(--background);

                &:hover {
                    background-color: rgb(51, 210, 238);
                    border: 1px solid black;
                    cursor: pointer;
                }
            }
        }

        select{
            width: 21rem;
        }

    }
}