@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Orbitron:wght@400;500;600;700;800;900&display=swap");

body{
    padding: 0;
    margin: 0;
    font-family: Kanit, 'Montserrat', sans-serif, 'Courier New', Courier, monospace;
    color: var(--txt);
}

header{
    padding: 0;
    margin: 0;
    width: calc(100% - 40px);
    height: 70px;
    background: var(--select);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    h2{
        padding: 0;
        margin: 0;
        color: var(--background);
    }
    a{
        text-decoration: none;
        color: var(--background);
    }
}

.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
    .block{
        margin-top: 40px;
        width: 80%;
        background: var(--background);
        filter:drop-shadow(0 0 0.3rem var(--shadow));
        padding: 30px;
        border-radius: 10px;
        display: flex;
        align-items: center;
        cursor: pointer;
        transition: 0.3s;
        &:hover{
            filter:drop-shadow(0 0 0.5rem var(--txt));
            transition: 0.3s;
        }
        .img{
            img{
                width: 100px;
            }
        }
        .infos{
            margin-left: 20px;
        }
    }
}