@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Orbitron:wght@400;500;600;700;800;900&display=swap");

body{
    padding: 0;
    margin: 0;
    font-family: Kanit, 'Montserrat', sans-serif, 'Courier New', Courier, monospace;
    color: var(--txt);
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    width: 100%;
    height: calc(100vh - 100px);
    form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: var(--background);
        filter:drop-shadow(0 0 0.75rem var(--shadow));
        padding: 30px;
        border-radius: 10px;
        .block{
            display: flex;
            flex-direction: column;
            margin-bottom: 15px;
            position: relative;
            label{
                position: absolute;
                top: 12px;
                left: 10px;
                transition: .2s;
                color: gray;
                cursor: text;
            }
            label.focus{
                top: -7px;
                left: 5px;
                color: var(--txt);
                cursor: default;
            }
            input{
                width: 200px;
                padding: 10px;
                padding-bottom: 5px;
                border: none;
                border-bottom: 1px var(--txt) solid;
                background: none;
                outline: none;
                margin-top: 5px;
                &:focus{
                    border-color: var(--select);
                }
                &:focus + label{
                    top: -7px;
                    left: 5px;
                    transition: .2s;
                    color: var(--txt);
                    cursor: default;
                }
            }
        }
        button[type=submit]{
            margin-top: 30px;
            width: 200px;
            padding: 10px;
            cursor: pointer;
            background: var(--select);
            color: var(--background);
            border: none;
            border-radius: 2px;
            font-family: Kanit, 'Montserrat', sans-serif, 'Courier New', Courier, monospace;
            font-size: 15px;
            &:hover{
                filter: brightness(0.8);
            }
        }
        a{
            text-align: center;
            margin-top: 10px;
            width: 180px;
            padding: 10px;
            cursor: pointer;
            background: rgb(231, 231, 231);
            border: none;
            border-radius: 2px;
            text-decoration: none;
            color: black;
            font-size: 15px;
            &:hover{
                filter: brightness(0.8);
            }
        }
    }
    span{
        margin-top: 30px;
        color: var(--error);
    }
    .viewPass{
        color: var(--txt);
        cursor: pointer;
        position: absolute;
        top: -15px;
        right: 0;
        ion-icon{
            cursor: pointer;
        }
    }
}