body{
    padding: 0;
    margin: 0;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    width: 100%;
    height: calc(100vh - 100px);
    form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .block{
            display: flex;
            flex-direction: column;
            margin-bottom: 10px;
            position: relative;
            label{
                position: absolute;
                top: 12px;
                left: 10px;
                transition: .2s;
            }
            label.focus{
                top: -5px;
                left: 5px;
            }
            input{
                width: 200px;
                padding: 10px;
                border: none;
                border-bottom: 1px black solid;
                background: none;
                outline: none;
                margin-top: 5px;
                &:focus{
                    border-color: blue;
                }
                &:focus + label{
                    top: -5px;
                    left: 5px;
                    transition: .2s;
                }
            }
        }
        button[type=submit]{
            margin-bottom: 10px;
            width: 200px;
            padding: 10px;
            cursor: pointer;
            background: rgb(231, 231, 231);
            border: none;
            border-radius: 2px;
            &:hover{
                filter: brightness(0.8);
            }
        }
        a{
            text-align: center;
            margin-bottom: 10px;
            width: 150px;
            padding: 10px;
            cursor: pointer;
            background: rgb(231, 231, 231);
            border: none;
            border-radius: 2px;
            text-decoration: none;
            color: black;
            &:hover{
                filter: brightness(0.8);
            }
        }
    }
}