@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Orbitron:wght@400;500;600;700;800;900&display=swap");

body {
    padding: 0;
    margin: 0;
    font-family: Kanit, 'Montserrat', sans-serif, 'Courier New', Courier, monospace;
    color: var(--txt);
}

header {
    padding: 0;
    margin: 0;
    width: calc(100% - 40px);
    height: 70px;
    background: var(--select);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;

    h2 {
        padding: 0;
        margin: 0;
        color: var(--background);
    }

    a {
        text-decoration: none;
        color: var(--background);
    }

    .logOut {
        .block {
            width: 25px;
            height: 25px;
            border: 2px var(--background) solid;
            border-radius: 8px;
            position: relative;

            .arrow {
                color: var(--background);
                position: absolute;
                top: 0px;
                left: 60%;
                transform: translate(50% 50%);
                font-size: 20px;
                transition: 0.3s;

                ion-icon {
                    background: var(--select);
                }
            }

            &:active .arrow {
                left: 90%;
                transition: 0.1s;
            }
        }
    }
}

.container {
    .infosRecipe {

        display: flex;
        align-items: center;

        width: calc(100% - 15%);
        height: auto;
        margin-left: 15%;

        .infos {
            margin-left: 20px;

            p {
                width: 90%;
            }
        }

        .rating {
            font-size: 1.5rem;
            display: flex;
            flex-direction: row-reverse;
            width: fit-content;

            button {
                background-color: transparent;
                border: none;
                font-size: 1.5rem;
            }

            .yellow {
                color: rgb(255, 221, 0);
            }

            .grey {
                color: #000000;
            }

            &:hover button {
                color: #000000;
            }

            & button:hover,
            & button:hover~button {
                color: rgb(255, 187, 0);
            }

        }
    }

    .listRecipe {
        display: flex;
        flex-direction: column;
        align-items: center;

        padding: 10px;
        width: calc(100% - 20px);
        height: auto;

        .list {
            display: flex;
            flex-direction: column;
            justify-content: start;
            width: 60%;

            h3 {
                font-size: 40px;
                padding: 0;
                margin: 0
            }

            ul {
                display: grid;
                grid-template-columns: repeat(5, 1fr);

                li {
                    padding: 5px;
                    list-style-type: none;
                    margin-bottom: 10px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-between;
                    background: var(--background);
                    border-radius: 10px;
                    filter: drop-shadow(0 0 0.3rem var(--shadow));
                    margin-left: 5px;
                    margin-right: 5px;
                    position: relative;

                    img {
                        width: 150px;
                    }

                    .nbIngre {
                        span {
                            font-size: 20px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 400px) {
    .container {
        .infosRecipe {
            margin-left: 0px;
        }
    }

    img {
        width: 100px;
    }
}