<!DOCTYPE html>
<html lang="en">
  <head>
    {% include 'head.html' %}
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/add.css') }}"
    />
    <title>Document</title>
  </head>
  <body>
    {% include "header.html" %}
    <div class="container">
      <form action="" method="POST" class="add-form">
        <p>Ajout de recette</p>
        <input type="text" placeholder="Nom de la recette" name="recipe_name" />
        <textarea
          type="text"
          placeholder="Contenu de la recette"
          name="recipe_body"
        ></textarea>
        <div class="listIngre">
          {% for i in ingres %}
          <div class="ingre">
            <div class="check">
              <input type="checkbox" name="check_{{ i[0] }}" id="check{{ i[0] }}" value="{{ i[0] }}">
              <label for="check{{ i[0] }}">{{ i[1] }}</label>
            </div>
            <div class="qt">
              <label for="qt_{{ i[0] }}">Quantité:</label>
              <input type="number" id="qt_{{ i[0] }}" name="qt_{{ i[0] }}">
            </div>
          </div>
          {% endfor %}
        </div>
        <input type="submit" value="Ajouter" />
      </form>
      {% if error_message != "" %} {% block content %}
      <span class="error-message">{{ error_message }}</span>
      {% endblock content %} {% endif %}
    </div>
  </body>
</html>
