<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'head.html' %}
  <title>Document</title>
</head>
<body>
    {% include 'header.html' %}
  <div class="container">

    {% for i in recipes %}
    <a href="/recipe/{{ i[0] }}" class="block">
      <div class="img">
        <img src="{{ url_for('static', filename='img/noimage.png') }}" alt="">
      </div>
      <div class="infos">
        <div class="title">
          <span>{{ i[1] }}</span>
          <h3>{{ i[2] }}</h3>
          <div class="rating">
            {% for r in rating %}
              {% if r[0] == i[0] %}
                {% for s in range(0, 5 - r[2] | int) %}
                  <button
                    
                    class="gray"
                  >
                    ★
                  </button>
                {% endfor %}
                {% for s in range(0, r[2] | int) %}
                  <button
                    
                    class="yellow"
                  >
                    ★
                  </button>
                {% endfor %}
              {% endif %}
            {% endfor %}
            {% set vars = {'foo': True} %}
            {% for r in rating %}
              {% if r[0] == i[0] %}
                {% if vars.update({'foo': False}) %}{% endif %}
              {% endif %}
            {% endfor %}
            {% if vars.foo %}
              {% for s in range(0, 5 | int) %}
                <button
                  
                  class="gray"
                >
                  ★
                </button>
              {% endfor %}
            {% endif %}
          </div>
        </div>
        <p>
          {{ i[3] }}
        </p>
      </div>
    </a>
    {% endfor %}

  </div>

  <footer>

  </footer>
</body>
</html>