<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'head.html' %}
  <title>Document</title>
</head>
<body>
    {% include 'header.html' %}
  <div class="container">

    {% for i in recipes %}
    <a href="/recipe/{{ i[0] }}" class="block">
      <div class="img">
        <img src="{{ url_for('static', filename='img/noimage.png') }}" alt="">
      </div>
      <div class="infos">
        <div class="title">
          <span>{{ i[1] }}</span>
          <h3>{{ i[2] }}</h3>
        </div>
        <p>
          {{ i[3] }}
        </p>
      </div>
    </a>
    {% endfor %}

  </div>

  <footer>

  </footer>
</body>
</html>