<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/colors.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
  <title>Document</title>
</head>
<body>
  <header>
    <h2>MarmiFlask</h2>
    <a href="/logout" class="logOut">
      <div class="block">
        <div class="arrow">
          <ion-icon name="arrow-forward-outline"></ion-icon>
        </div>
      </div>
    </a>
  </header>

  <div class="container">

    {% for i in recipes %}
    <div class="block">
      <div class="img">
        <img src="{{ url_for('static', filename='img/noimage.png') }}" alt="">
      </div>
      <div class="infos">
        <div class="title">
          <span>{{ i[1] }}</span>
          <h3>{{ i[2] }}</h3>
        </div>
        <p>
          {{ i[3] }}
        </p>
      </div>
    </div>
    {% endfor %}

  </div>

  <footer>

  </footer>
</body>
</html>