<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/log.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/colors.css') }}">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <h1 class="h1">Login Form</h1>
        <form action="/login" method="POST" class="form-group">
            <div class="block">
                <input type="email" name="email" id="email-txt" placeholder="">
                <label for="email-txt" id="email-label">Email</label>
            </div>
            <div class="block">
                <input type="password" name="password" id="password-txt" placeholder="">
                <label for="password-txt" id="password-label">Password</label>
            </div>
            <button type="submit">Submit</button>
            <a href="/signup">Signup</a>
        </form>
    </div>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>