<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/log.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/colors.css') }}">
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <title>Document</title>
</head>
<body>
    <div class="container">
        <h1 class="h1">Signup Form</h1>
        <form action="{{ url_for('signup') }}" method="POST" class="form-group">
            <div class="block">
                <input type="text" name="username" placeholder="" id="username-txt" required>
                <label for="username-txt" id="username-label">Username</label>
            </div>
            <div class="block">
                <input type="email" name="email" id="email-txt" placeholder="" required>
                <label for="email-txt" id="email-label">Email</label>
            </div>
            <div class="block">
                <input type="password" name="password" id="password-txt" placeholder="" required>
                <label for="password-txt" id="password-label">Password</label>
                <span class="viewPass" id="viewPass"><ion-icon name="eye-off-outline"></ion-icon></span>
            </div>
            <button type="submit">Submit</button>
            <a href="{{ url_for('login') }}">Login</a>
        </form>
        {% if errorMessage != "" %}
            {% block content %}
            <span class="error-message">{{ errorMessage }}</span>
            {% endblock content %}
        {% endif %}
    </div>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>